<%= content_for :attributes_form do %>
  <%= form_with(model: agenda_item, class: "contents", data: { controller: "form-submit timezone", "action": "turbo:submit-start->form-loader#onSubmitStart turbo:submit-end->form-loader#onSubmitEnd" }) do |form| %>
    <%= form.hidden_field :timezone, data: { "timezone-target": "timezone" } %>

    <table class="table">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody data-controller="agenda-item-range-selector">
        <tr>
          <td><%= form.label :status %></td>
          <td>
            <%= turbo_frame_tag dom_id(agenda_item).concat("_status") do %>
              <%= render "status_tag", agenda_item: agenda_item %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= form.label :execution %></td>
          <td class="flex flex-row place-content-between">
            <div class="flex flex-col md:flex-row gap-2 w-fit items-center">
              <%= form.datetime_field :start_time, step: 1, data: { action: "input->form-submit#onInput" } %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
              </svg>
              <%= form.datetime_field :end_time, step: 1, data: { action: "input->form-submit#onInput" } %>
            </div>
            <div class="flex items-center">
            <% unless agenda_item.new_record? %>
              <%= link_to tracker_agenda_item_path(agenda_item), class: "btn btn-outline btn-xs btn-secondary" do %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                  <path fill-rule="evenodd" d="M1 8a7 7 0 1 1 14 0A7 7 0 0 1 1 8Zm7.75-4.25a.75.75 0 0 0-1.5 0V8c0 .414.336.75.75.75h3.25a.75.75 0 0 0 0-1.5h-2.5v-3.5Z" clip-rule="evenodd" />
                </svg>
              <% end %>
            <% end %>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= form.label :do_by_start %></td>
          <td class="flex flex-row place-content-between">
            <div class="flex flex-col md:flex-row gap-2 w-fit items-center">
              <%= form.datetime_field :do_by_start, data: { action: "input->form-submit#onInput input->agenda-item-range-selector#onDoByStartInput" } %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
              </svg>
              <%= form.datetime_field :do_by_end, data: { action: "input->form-submit#onInput" } %>
            </div>
          </td>
        </tr>
      </tbody>
    </table>

    <%= form.submit hidden: true, data: { "form-submit-target" => "submitButton" } %>
  <% end %>
<% end %>

<%= render "documents/form", document: agenda_item.document %>
