<%= content_for :attributes_form do %>
  <%= form_with(model: agenda_item, class: "contents", data: { controller: "form-submit", "action": "turbo:submit-start->form-loader#onSubmitStart turbo:submit-end->form-loader#onSubmitEnd" }) do |form| %>
    <%= form.hidden_field :document_id %>

    <table class="table">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody data-controller="agenda-item-range-selector">
        <tr>
          <td><%= form.label :status %></td>
          <td>
            <%= turbo_frame_tag dom_id(agenda_item).concat("_status") do %>
              <%= render "status_tag", agenda_item: agenda_item %>
            <% end %>
          </td>
        </tr>
        <tr>
          <td><%= form.label :execution %></td>
          <td class="flex flex-col space-between">
            <div class="flex flex-row gap-2 w-fit">
              <%= form.datetime_field :start_time, data: { action: "input->form-submit#onInput" } %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
              </svg>
              <%= form.datetime_field :end_time, data: { action: "input->form-submit#onInput" } %>
            </div>
            <span>123</span>
          </td>
        </tr>
        <tr data-agenda-item-range-selector-target="doByStartRow">
          <td><%= form.label :do_by_start %></td>
          <td><%= form.datetime_field :do_by_start, data: { action: "input->form-submit#onInput input->agenda-item-range-selector#onDoByStartInput" } %></td>
        </tr>
        <tr data-agenda-item-range-selector-target="doByEndRow">
          <td><%= form.label :do_by_end %></td>
          <td><%= form.datetime_field :do_by_end, data: { action: "input->form-submit#onInput" } %></td>
        </tr>
      </tbody>
    </table>

    <%= form.submit hidden: true, data: { "form-submit-target" => "submitButton" } %>
  <% end %>
<% end %>

<%= render "documents/form", document: agenda_item.document %>
