<div class="md:w-2/3 w-full">
  <div class="breadcrumbs text-sm">
    <ul>
      <li><%= link_to "Agenda items", agenda_items_path %></li>
      <li><%= link_to "Agenda item##{@agenda_item.id}", @agenda_item %></li>
      <li>Execution Tracker</li>
    </ul>
  </div>
  <div class="divider"></div>

  <div data-controller="agenda-item-tracker form-loader form-submit timezone" class="flex flex-col gap-4" data-action="agenda-item-tracker:input->form-submit#onInput">
    <%= form_with model: @agenda_item, data: {
        "action": "turbo:submit-start->form-loader#onSubmitStart turbo:submit-end->form-loader#onSubmitEnd"
      }, class: "flex place-content-center" do |form| %>
      <%= form.hidden_field :timezone, data: { "timezone-target": "timezone" } %>

      <div class="flex flex-col md:flex-row gap-2 w-fit items-center">
        <%= form.datetime_field :start_time, step: 1, data: { action: "input->form-submit#onInput", "agenda-item-tracker-target": "startTimeInput" } %>
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M7.5 21 3 16.5m0 0L7.5 12M3 16.5h13.5m0-13.5L21 7.5m0 0L16.5 12M21 7.5H7.5" />
        </svg>
        <%= form.datetime_field :end_time, step: 1, data: { action: "input->form-submit#onInput", "agenda-item-tracker-target": "endTimeInput" } %>
      </div>

      <%= form.submit hidden: true, data: { "form-submit-target" => "submitButton" } %>
    <% end %>
    <div class="flex flex-row gap-2 place-content-center">
      <button class="btn btn-sm btn-outline btn-primary" data-action="click->agenda-item-tracker#setStart">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.653c0-.856.917-1.398 1.667-.986l11.54 6.347a1.125 1.125 0 0 1 0 1.972l-11.54 6.347a1.125 1.125 0 0 1-1.667-.986V5.653Z" />
        </svg>
      </button>
      <button class="btn btn-sm btn-outline btn-secondary" data-action="click->agenda-item-tracker#setEnd">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 7.5A2.25 2.25 0 0 1 7.5 5.25h9a2.25 2.25 0 0 1 2.25 2.25v9a2.25 2.25 0 0 1-2.25 2.25h-9a2.25 2.25 0 0 1-2.25-2.25v-9Z" />
        </svg>
      </button>
      <button class="btn btn-sm btn-outline btn-error" data-confirm="Are you sure?" data-action="click->agenda-item-tracker#reset">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    <div class="flex flex-row items-center w-full place-content-center">
      <%= turbo_frame_tag dom_id(@agenda_item).concat("_status"), class: "w-fit flex place-content-center" do %>
        <%= render "status_tag", agenda_item: @agenda_item %>
      <% end %>
      <%= render "shared/form_loader_icon" %>
    </div>
  </div>
</div>
