<%= form_with(model: document, class: "contents flex flex-col gap-4", data: { controller: "document-editor", "document-editor-editable-value": "true" }) do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul class="list-disc ml-6">
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table shadow-xs">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.label :title %></td>
        <td><%= form.text_field :title, class: ["input", {"input-info": document.errors[:title].none?, "input-error": document.errors[:title].any?}] %></td></td>
      </tr>
      <tr>
        <td><%= form.label :description %></td>
        <td><%= form.text_field :description, class: ["input", {"input-info": document.errors[:description].none?, "input-error": document.errors[:description].any?}] %></td></td>
      </tr>
    </tbody>
  </table>

  <%= form.hidden_field :content, data: { "document-editor-target" => "content" } %>
  <%= form.hidden_field :content_html, data: { "document-editor-target" => "contentHtml" } %>

  <div>
    <div data-document-editor-target="editor"></div>
  </div>

  <%= form.submit class: "btn btn-primary" %>
<% end %>
