<div data-controller="form-loader">
  <%= render "shared/form_loader_icon" %>

  <%= form_with(model: document, class: "contents flex flex-col gap-4 ", data: {
      controller: "form-submit", "action": "turbo:submit-start->form-loader#onSubmitStart turbo:submit-end->form-loader#onSubmitEnd"
    }) do |form| %>

    <div class ="stats overflow-hidden">
      <div class="stat">
        <span class="stat-value"><%= form.text_field :title, autocomplete: "off", placeholder: "The title of the document",
          data: { action: "input->form-submit#onInput" } %></span>
        <span class="stat-desc"><%= form.text_area :description, autocomplete: "off", rows: 2, placeholder: "Document description",
          class: "w-full", data: { action: "input->form-submit#onInput" } %></span>
      </div>
    </div>

    <%= form.submit hidden: true, data: { "form-submit-target" => "submitButton" } %>
  <% end %>

  <% if content_for? :attributes_form %>
    <div class="divider"></div>
    <%= yield :attributes_form %>
    <div class="divider"></div>
  <% end %>

  <%= form_with(model: document, local: true, class: "contents", data: {
      controller: "document-editor form-submit", "document-editor-editable-value": "true",
      action: "turbo:submit-start->form-loader#onSubmitStart turbo:submit-end->form-loader#onSubmitEnd document-editor:update->form-submit#onInput",
    }) do |form| %>

    <%= form.hidden_field :content, data: { "document-editor-target" => "content" } %>

    <div>
      <div class="organizer-editor" data-document-editor-target="editor"></div>
    </div>

    <%= form.submit hidden: true, data: { "form-submit-target" => "submitButton", "document-editor-target" => "submitButton" } %>
  <% end %>
</div>
