<%= form_with(model: document, class: "contents") do |form| %>
  <% if document.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(document.errors.count, "error") %> prohibited this document from being saved:</h2>

      <ul class="list-disc ml-6">
        <% document.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table shadow-xs">
    <thead>
      <tr>
        <th>Attribute</th>
        <th>Value</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= form.label :title %></td>
        <td><%= form.text_field :title, class: ["input", {"input-info": document.errors[:title].none?, "input-error": document.errors[:title].any?}] %></td></td>
      </tr>
      <tr>
        <td><%= form.label :description %></td>
        <td><%= form.text_field :description, class: ["input", {"input-info": document.errors[:description].none?, "input-error": document.errors[:description].any?}] %></td></td>
      </tr>
    </tbody>
  </table>

  <div class="flex flex-col gap-2">
    <% unless document.new_record? %>
    <turbo-frame id="edit_contents">
      <%= button_to document_content_blocks_path(document_id: document.id), method: :post do %>
        <div class="w-fit flex flex-row gap-2">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
            <path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z" />
          </svg>
          <div class="w-full" data-action="click->"></div>
        </div>
      <% end %>
    </turbo-frame>
    <% end %>
    <div class="inline">
      <%= form.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
