<% content_for :title, "Documents" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Documents</h1>
    <%= link_to "New document", new_document_path, class: "btn btn-info" %>
  </div>

  <div class="divider" ></div>

  <div id="documents" class="flex flex-row">
    <% if @documents.any? %>
      <% @documents.each do |document| %>
        <div class="card card-sm shadow-md p-2 bg-base-100 hover:bg-base-200">
          <div class=card-body>
          <%= render document, link_stat: true, show_actions: false %>
          </div>
          <div class="card-actions">
            <%= link_to "Show", document, class: "btn" %>
            <%= link_to "Edit", edit_document_path(document), class: "btn" %>
            <%= button_to "Destroy", document, method: :delete, class: "btn btn-error", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No documents found.</p>
    <% end %>
  </div>
</div>
