<%= form_with(model: product_label, class: "contents") do |form| %>
  <% if product_label.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(product_label.errors.count, "error") %> prohibited this product_label from being saved:</h2>

      <ul class="list-disc ml-6">
        <% product_label.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <section aria-label="Basic Information" class="flex flex-col gap-2 my-4">
    <div>
      <%= form.label :name, class: ["input", {"input-error": product_label.errors[:name].any?}] do %>
        <span class="label">Name</span>
        <%= form.text_field :name %>
      <% end %>
    </div>
    <div class="flex flex-row gap-4">
      <%= form.label :baseline, class: ["input", {"input-error": product_label.errors[:baseline].any?}] do %>
        <span class="label">Baseline</span>
        <%= form.text_field :name %>
      <% end %>
      <select name="product_label[baseline_type]" class="<%= [ 'select', product_label.errors[:baseline_type].any? && 'select-error' ].join(' ') %>">
        <% ProductLabel.baseline_types.to_a.map(&:first).each do |type| %>
          <option value="<%= type %>"><%= type %></option>
        <% end %>
      </select>
    </div>
  </section>

  <table class="table">
    <thead>
      <td>Type</td>
      <td>Value</td>
    </thead>
    <tbody>
      <% [:energy, :fats, :saturated_fats, :carbohydrates, :sugar_carbohydrates, :protein, :salt, :weight, :volume].map do |nutrition| %>
        <tr>
          <td><%= form.label nutrition %></td>
          <td><%= form.number_field nutrition %></td>
        </tr>
      <% end %>
      <tr>
        <td></td>
      </tr>
    </tbody>
  </table>

  <div class="my-5">
    <%= form.label :vitamins %>
    <%= form.text_field :vitamins, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": product_label.errors[:vitamins].none?, "border-red-400 focus:outline-red-600": product_label.errors[:vitamins].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :ingredients %>
    <%= form.text_field :ingredients, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": product_label.errors[:ingredients].none?, "border-red-400 focus:outline-red-600": product_label.errors[:ingredients].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
